<section class="login-section">
  <div class="container">
    <div class="card card-container">
      <img id="profile-img" class="profile-img-card" src="assets/images/scarlet-small.png" />
      <p id="profile-name" class="profile-name-card"></p>
      <form class="form-signin" name="loginform" ng-submit="loginform.$valid && vm.loginSubmit()" novalidate>
        <input ng-model="vm.credentials.email" type="text" id="email" class="form-control" placeholder="{{'login.EMAIL_PLACEHOLDER' | translate}}" required autofocus>
        <input ng-model="vm.credentials.password" type="password" id="password" class="form-control" placeholder="{{'login.PASSWORD_PLACEHOLDER' | translate}}" required>
          <button id="login_btn" class="btn btn-lg btn-block btn-signin" type="submit">{{'login.SIGN_IN' | translate}}</button>
      </form>
      <a class="reset-password">{{'login.RESET_PASSWORD' | translate}}</a>
    </div>
  </div>
</section>
